%main.tabs.vertical.block_btn
  %aside.tab
    %i.fas.fa-home.fa-lg
    = link_to 'ホーム', articles_path(current_user)
  %aside.tab
    %i.fas.fa-stream.fa-lg
    = link_to 'タイムライン', timeline_path(current_user)
