@import 'articles';
@import 'buttons';
@import 'comments';
@import 'commons';
@import 'form';
@import 'layouts';
@import 'header';
@import 'profiles';
@import 'tabs';

@import '_variables';
@import 'trix/dist/trix/.css';

@import 'font-awesome-sprockets';
@import 'font-awesome';

a{
    text-decoration: none;
    color: black;
}

*{
    margin: 0;
    padding: 0;
}

.container{
    margin: 20px 0px 20px 0px;
}

.hidden{
    display: none;
}

.f-container{
    display: flex;
}

.vertical{
    display: flex;
    flex-direction: column;
}

.centering{
    display: flex;
    justify-content: center;
    align-items: center;
}
