@import 'articles';
@import 'buttons';
@import 'comments';
@import 'commons';
@import 'form';
@import 'header';
@import 'profiles';
@import 'tabs';

@import '_variables';
@import 'trix/dist/trix/.css';

@import 'font-awesome-sprockets';
@import 'font-awesome';

a{
    text-decoration: none;
    color: black;
}

.hidden{
    display: none;
}
