$container-padding: 16px;

.card_title{
    font-size: 22px;
    font-style: bold;
}

.article_card{
    background-color: white;
    margin: 16px 16px;
    padding: $container-padding;
    position: relative;

    border: solid 1px black;
}
