
.btn_flat {
    width: 320px;
    height: 30px;
    margin: 30px 0;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    background: rgb(255, 255, 255);
    }
    
.btn_flat:hover {
    color: rgb(2, 2, 2);
    background: rgb(213, 250, 255);
}

.text_holder{
    border:0;
    padding:10px;
    font-size:1.3em;
    font-family:Arial, sans-serif;
    color:#aaa;
    border:solid 1px #ccc;
    margin:0 0 30px;
    width:300px;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.title_area{
    position: relative;
    margin: 0 0 40px 0;
}

.form_area{
    height: 20em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login_window{
    margin: 150px;
}