@import './variables';

.circle_icon{
  transform: translate(50%, 50%);
  -webkit-transform: translate(0%, 8%);
  transform: translate(0%, 9%);

  border-radius: 50%;
  width:  50px;
  height: 50px;

  &_lg{
    border-radius: 50%;
    width:  100px;
    height: 100px;
  }
}

.dropdown{

}

.dropbtn {
  position: absolute;
  transform: translate(25em, 5px);
  
  border: none;
  width: 2em;
}

.dropdown-content {
  position: absolute;
  transform: translate(25em, 2em);

  z-index: 1;
  min-width: 160px;

  display: none;
  font-weight: normal;
  background-color: white;
  border: 1px solid rgb(196, 196, 196);

  &.mini {
    min-width: 100px;
  }
}

.dropdown-content a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: $text-base-color;
}

.dropdown-content a:hover {
  background-color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}