@import './variables';

.circle_icon{
  transform: translate(50%, 50%);
  -webkit-transform: translate(0%, 8%);
  transform: translate(0%, 9%);

  border-radius: 50%;
  width:  50px;
  height: 50px;

  &_lg{
    border-radius: 50%;
    width:  100px;
    height: 100px;
  }
}

.dropdown {
  margin: 0 0 0 auto;
  position: relative; /* 絶対配置の基準を設定 */
}

.inheader {
  top: 0px;
  right: 20px;
  margin: 0 0 0 0;
  position: absolute; /* 絶対配置の基準を設定 */
}

.dropdown__btn {
  display: block;
  width: 3em;
  padding: 0.2em;
  background: none; /* デフォルトスタイル リセット */
  border: 0; /* デフォルトスタイル リセット */
  cursor: pointer;
}
.dropdown__body {
  width: 250px;
  background: #fff;
  border: 1px solid rgb(208, 208, 208);
  border-radius: 2px;
  position: absolute; /* メニュー部分は絶対配置 */
  top: 32px;
  left: 10px;
}
.dropdown__list { /* デフォルトスタイル リセット */
  margin: 0;
  padding: 0;
}
.dropdown__item {
  display: block;
}
.dropdown__item-link {
  display: block;
  padding: 1em 1.2em;
  font-size: 0.95em;
  text-decoration: none;
  color: #444;
}
.dropdown__item-link:hover {
  background: #fbfbfb;
}

.dropdown__body {
  display: none;
}

.dropdown__btn.is-open + .dropdown__body {
  display: block;
  z-index: 1;
}
