.comment{

    &_btn{

        width: 150px;
        height: 45px;

        color: white;
        background-color: $primary-base-color;

        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 114%;
        opacity:0.7;


        &:hover {
            cursor: pointer;
            opacity:1;
        }

    }

    &_date{
        font-size: 7px;
        margin: 5px 0px 0px 10px;
        opacity: 0.3;
    }
}