@import './variables';

.text{
    width: 98%;
    margin: 8px 0px;
    padding: 8px 8px;
    resize: vertical;
    border: 1px solid #EBEBEB;
}

.naming_holder{
    height: 25px;
    border: 1px solid #EBEBEB;
}

textarea, trix-editor {
    width: auto;
    height: auto;

    min-width: 500px;
    min-height: 300px;

    margin: 8px 0px;
    padding: 8px 8px;

    resize: vertical;
    border: 1px solid #EBEBEB;
    &.sm{
        min-height: 160px;
    }
}

.comment_area{
    width: 97%;
    margin: 8px 0px;
    padding: 8px 8px;
    min-height: 200px;
    resize: vertical;
    border: 1px solid #EBEBEB;
    &.sm{
        min-height: 160px;
    }
}