@import './variables';

.app_name{
    margin: 5px 0 0 20px;

    font-size: 30px;
    font-family: 'Arial Narrow Bold', sans-serif;
}

.header{

    height: 60px;
    background-color: $primary-base-color;

    &_btn{
        width: 150px;
        height: 20px;
        position: relative;
        margin: 0 0 0 auto;
        padding: 10px;
        

        transform: translate(50%, 50%);
        -webkit-transform: translate(0%, 8%);
        transform: translate(-50%, 25%);

        display: flex;
        justify-content: center;
        align-items: center;

        background: $primary-sab-color;
    
        border-radius: 5px;
        opacity:0.8;
    
        &:hover {
            opacity: 1;
            cursor: pointer;
        }
    }

}

