// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.profile_avatar{

    // まるにする
    border-radius: 50%;
    width:  20em;
    height: 20em;
    border: 2px solid rgba(250, 120, 120, 1);
}