@import './variables';

.tabs{
    height: 10em;
    transform: translate(0px, 0px);
}

.tab{
    writing-mode: horizontal-tb;
    block-size: 10em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.block_btn{
    display: block;
    text-align: center;

    :hover{
        background-color: rgb(255, 255, 255);
    }
}